openapi: 3.0.3
info:
  title: LINE Connector 2 API
  version: 0.1.0
  description: MVP向けのドラフトOpenAPI。規約は docs/api/conventions.md を参照。
  x-updated: 2026-02-02

servers:
  - url: https://li-connector2.com/api/v1
    description: 本番（仮）

paths:
  /stats/usage:
    get:
      summary: 利用集計（月別/日別/時間別）
      description: 課金算定向けに、新規友だち追加数とLINEメッセージ数（push/reply）を集計して返す。
      parameters:
        - name: granularity
          in: query
          required: true
          schema:
            type: string
            enum: [month, day, hour]
          description: 集計粒度。
        - name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 2000
          description: granularity=month のとき必須。
          example: 2026
        - name: month
          in: query
          required: false
          schema:
            type: string
            pattern: '^\d{4}-\d{2}$'
          description: granularity=day のとき必須（YYYY-MM）。
          example: "2026-01"
        - name: date
          in: query
          required: false
          schema:
            type: string
            format: date
          description: granularity=hour のとき必須（YYYY-MM-DD）。
          example: "2026-01-01"
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageStatsResponse'
              examples:
                month:
                  summary: 月別の例（2026年）
                  value:
                    granularity: month
                    time_zone: Asia/Tokyo
                    range:
                      from: "2026-01-01"
                      to: "2026-12-31"
                    summary:
                      friend_registrations: 120
                      push_deliveries: 300
                      reply_deliveries: 50
                      total_deliveries: 350
                    items:
                      - period_start: "2026-01-01"
                        label: "2026-01"
                        friend_registrations: 10
                        push_deliveries: 25
                        reply_deliveries: 5
                        total_deliveries: 30
                      - period_start: "2026-02-01"
                        label: "2026-02"
                        friend_registrations: 0
                        push_deliveries: 0
                        reply_deliveries: 0
                        total_deliveries: 0
                day:
                  summary: 日別の例（2026年1月）
                  value:
                    granularity: day
                    time_zone: Asia/Tokyo
                    range:
                      from: "2026-01-01"
                      to: "2026-01-31"
                    summary:
                      friend_registrations: 40
                      push_deliveries: 90
                      reply_deliveries: 10
                      total_deliveries: 100
                    items:
                      - period_start: "2026-01-01"
                        label: "2026-01-01"
                        friend_registrations: 2
                        push_deliveries: 5
                        reply_deliveries: 1
                        total_deliveries: 6
                      - period_start: "2026-01-02"
                        label: "2026-01-02"
                        friend_registrations: 0
                        push_deliveries: 0
                        reply_deliveries: 0
                        total_deliveries: 0
                hour:
                  summary: 時間別の例（2026-01-01）
                  value:
                    granularity: hour
                    time_zone: Asia/Tokyo
                    range:
                      from: "2026-01-01"
                      to: "2026-01-01"
                    summary:
                      friend_registrations: 3
                      push_deliveries: 12
                      reply_deliveries: 2
                      total_deliveries: 14
                    items:
                      - period_start: "2026-01-01"
                        label: "00"
                        friend_registrations: 1
                        push_deliveries: 4
                        reply_deliveries: 1
                        total_deliveries: 5
                      - period_start: "2026-01-01"
                        label: "01"
                        friend_registrations: 0
                        push_deliveries: 0
                        reply_deliveries: 0
                        total_deliveries: 0
        '400':
          description: リクエスト不正
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid_params:
                  summary: パラメータ不正の例
                  value:
                    error:
                      code: VALIDATION_ERROR
                      message: リクエストパラメータが不正です。
                      details:
                        - field: month
                          issue: 形式不正
                      trace_id: "00000000-0000-0000-0000-000000000000"
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 権限エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
  /friends:
    get:
      summary: 友だち一覧/検索
      description: 友だち一覧を取得し、検索条件で絞り込む。
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 1
            minimum: 1
          description: ページ番号
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 100
            minimum: 1
            maximum: 100
          description: 1ページあたりの件数（最大100）
        - name: management_ids
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
          description: 管理IDの完全一致。複数指定は同名パラメータの繰り返し。
        - name: exclude_management_ids
          in: query
          required: false
          schema:
            type: boolean
          description: true の場合、management_ids を除外条件として扱う
        - name: management_codes
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
          description: 管理コード（incode）の部分一致。複数指定は同名パラメータの繰り返し。※要確認
        - name: exclude_management_codes
          in: query
          required: false
          schema:
            type: boolean
          description: true の場合、management_codes を除外条件として扱う
        - name: advertisement_codes
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
          description: 広告コードの部分一致。複数指定は同名パラメータの繰り返し。
        - name: exclude_advertisement_codes
          in: query
          required: false
          schema:
            type: boolean
          description: true の場合、advertisement_codes を除外条件として扱う
        - name: line_id
          in: query
          required: false
          schema:
            type: string
          description: LINE_IDの部分一致
        - name: registered_from
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: 登録日時の開始（JST）
        - name: registered_to
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: 登録日時の終了（JST）
        - name: friend_statuses
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum: [normal, blocked]
          description: 友だち状態（正常/ブロック）。複数指定可。
        - name: line_official_basic_ids
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
          description: LINE連携 basic_id の完全一致。複数指定は同名パラメータの繰り返し。
        - name: exclude_line_official_basic_ids
          in: query
          required: false
          schema:
            type: boolean
          description: true の場合、line_official_basic_ids を除外条件として扱う
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendListResponse'
        '400':
          description: リクエスト不正
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 権限エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
  /friends/{friend_id}:
    delete:
      summary: 友だち削除（物理）
      description: 友だちを物理削除し、関連履歴も削除する。
      parameters:
        - name: friend_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 友だちID（line_friends.id）
      responses:
        '204':
          description: 削除成功
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 権限エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 対象なし
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
  /line-official-accounts:
    get:
      summary: LINE連携候補一覧
      description: 友だち検索のため、LINE連携の basic_id 一覧を取得する。
      parameters:
        - name: fields
          in: query
          required: false
          schema:
            type: string
            enum: [basic_id]
          description: 取得項目の指定（暫定）
          example: basic_id
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineOfficialAccountListResponse'
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 権限エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    UsageStatsResponse:
      type: object
      required:
        - granularity
        - time_zone
        - range
        - summary
        - items
      properties:
        granularity:
          type: string
          enum: [month, day, hour]
        time_zone:
          type: string
          example: Asia/Tokyo
        range:
          type: object
          required: [from, to]
          properties:
            from:
              type: string
              format: date
            to:
              type: string
              format: date
        summary:
          $ref: '#/components/schemas/UsageStatsSummary'
        items:
          type: array
          items:
            $ref: '#/components/schemas/UsageStatsItem'

    UsageStatsSummary:
      type: object
      required:
        - friend_registrations
        - push_deliveries
        - reply_deliveries
        - total_deliveries
      properties:
        friend_registrations:
          type: integer
          format: int64
          example: 120
        push_deliveries:
          type: integer
          format: int64
          example: 300
        reply_deliveries:
          type: integer
          format: int64
          example: 50
        total_deliveries:
          type: integer
          format: int64
          example: 350

    UsageStatsItem:
      type: object
      required:
        - period_start
        - label
        - friend_registrations
        - push_deliveries
        - reply_deliveries
        - total_deliveries
      properties:
        period_start:
          type: string
          format: date
          example: "2026-01-01"
        label:
          type: string
          example: "2026-01"
        friend_registrations:
          type: integer
          format: int64
          example: 10
        push_deliveries:
          type: integer
          format: int64
          example: 25
        reply_deliveries:
          type: integer
          format: int64
          example: 5
        total_deliveries:
          type: integer
          format: int64
          example: 30

    FriendListResponse:
      type: object
      required:
        - items
        - page
        - limit
        - total
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/FriendListItem'
        page:
          type: integer
          format: int32
          example: 1
        limit:
          type: integer
          format: int32
          example: 100
        total:
          type: integer
          format: int64
          example: 9

    FriendListItem:
      type: object
      required:
        - id
        - line_id
        - registered_at
        - is_blocked
        - line_official_account_id
      properties:
        id:
          type: integer
          format: int64
          example: 545
        management_code:
          type: string
          nullable: true
          description: 管理コード（incode）※要確認
          example: null
        advertisement_code:
          type: string
          nullable: true
          example: yokota_x
        line_id:
          type: string
          example: U11ae9eba73ac607c52138ed61bc0183a
        registered_at:
          type: string
          format: date-time
          example: "2026-04-01T10:57:00+09:00"
        is_blocked:
          type: boolean
          example: true
        line_official_account_id:
          type: integer
          format: int64
          example: 1
        line_official_basic_id:
          type: string
          nullable: true
          example: "@937jhhcx"

    LineOfficialAccountListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/LineOfficialAccountItem'

    LineOfficialAccountItem:
      type: object
      required: [id, basic_id]
      properties:
        id:
          type: integer
          format: int64
          example: 1
        basic_id:
          type: string
          example: "@937jhhcx"

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          $ref: '#/components/schemas/Error'

    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          example: VALIDATION_ERROR
        message:
          type: string
          example: リクエストパラメータが不正です。
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
        trace_id:
          type: string
          format: uuid

    ErrorDetail:
      type: object
      required: [field, issue]
      properties:
        field:
          type: string
          example: month
        issue:
          type: string
          example: 形式不正
