openapi: 3.0.3
info:
  title: LINE Connector 2 API
  version: 0.1.0
  description: |
    フロントエンド主導でAPI設計したドラフトOpenAPI。

    ## 共通仕様（暫定）
    - ベースパス: `/api/v1`
    - 認証: `Authorization: Bearer {token}`
    - 命名: JSONプロパティは `snake_case`
    - ページング: `page` / `limit`
    - Swagger UI: OpenAPIをローカルで閲覧/疎通確認するために使用
    - エラーレスポンス: `#/components/schemas/ErrorResponse`
  x-updated: 2026-02-04

tags:
  - name: Stats
    description: 利用集計
  - name: Friends
    description: 友だち管理
  - name: LineOfficialAccounts
    description: LINE公式アカウント（参照用）
  - name: LineAccounts
    description: LINE設定管理
  - name: Messages
    description: メッセージ設定（挨拶/リッチメニュー/自動応答）
  - name: DeliveryHistory
    description: 配信履歴
  - name: AdvertisementCodes
    description: 広告コード管理
  - name: PostbackHistory
    description: ポストバック履歴
  - name: Admins
    description: 管理者管理
  - name: SystemSettings
    description: システム設定

servers:
  - url: https://li-connector2.com/api/v1
    description: 本番（仮）
  - url: http://localhost:{port}/api/v1
    description: ローカル開発（要確認）
    variables:
      port:
        default: "3000"
        description: ローカル起動ポート（要確認）

paths:
  /stats/usage:
    get:
      tags:
        - Stats
      operationId: getUsageStats
      summary: 利用集計（月別/日別/時間別）
      description: |
        課金算定向けに、新規友だち追加数とLINEメッセージ数（push/reply）を集計して返す。

        ## パラメータルール（仮）
        | granularity | 必須パラメータ | 指定禁止パラメータ |
        |-------------|---------------|-------------------|
        | month | year | month, date |
        | day | month | year, date |
        | hour | date | year, month |

        ※ 指定禁止パラメータを送信した場合は 400 エラー

        ## その他仕様（仮）
        - time_zone は Asia/Tokyo 固定（JST）
        - 0件埋めを行う（month=12件 / day=当月日数 / hour=24件）
        - label は granularity に応じて YYYY-MM / YYYY-MM-DD / HH(00-23)
        - range.from/to は集計範囲（JST、両端含む）

        ## 要確認
        - granularity により必須パラメータが変わる（条件付き必須）。クライアント生成で表現しづらい場合があるため、サーバー側で厳密にバリデーションし 400 を返す（必要なら粒度別API分割も検討）
      parameters:
        - name: granularity
          in: query
          required: true
          schema:
            type: string
            enum: [month, day, hour]
          description: 集計粒度。
        - name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 2000
          description: granularity=month のとき必須。month/date と同時指定は 400。
          example: 2026
        - name: month
          in: query
          required: false
          schema:
            type: string
            pattern: '^\d{4}-\d{2}$'
          description: granularity=day のとき必須（YYYY-MM）。year/date と同時指定は 400。
          example: "2026-01"
        - name: date
          in: query
          required: false
          schema:
            type: string
            format: date
          description: granularity=hour のとき必須（YYYY-MM-DD）。year/month と同時指定は 400。
          example: "2026-01-01"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageStatsResponse"
              examples:
                month:
                  summary: 月別の例（2026年）
                  value:
                    granularity: month
                    time_zone: Asia/Tokyo
                    range:
                      from: "2026-01-01"
                      to: "2026-12-31"
                    summary:
                      friend_registrations: 120
                      push_deliveries: 300
                      reply_deliveries: 50
                      total_deliveries: 350
                    items:
                      - period_start: "2026-01-01"
                        label: "2026-01"
                        friend_registrations: 10
                        push_deliveries: 25
                        reply_deliveries: 5
                        total_deliveries: 30
                      - period_start: "2026-02-01"
                        label: "2026-02"
                        friend_registrations: 0
                        push_deliveries: 0
                        reply_deliveries: 0
                        total_deliveries: 0
                day:
                  summary: 日別の例（2026年1月）
                  value:
                    granularity: day
                    time_zone: Asia/Tokyo
                    range:
                      from: "2026-01-01"
                      to: "2026-01-31"
                    summary:
                      friend_registrations: 40
                      push_deliveries: 90
                      reply_deliveries: 10
                      total_deliveries: 100
                    items:
                      - period_start: "2026-01-01"
                        label: "2026-01-01"
                        friend_registrations: 2
                        push_deliveries: 5
                        reply_deliveries: 1
                        total_deliveries: 6
                      - period_start: "2026-01-02"
                        label: "2026-01-02"
                        friend_registrations: 0
                        push_deliveries: 0
                        reply_deliveries: 0
                        total_deliveries: 0
                hour:
                  summary: 時間別の例（2026-01-01）
                  value:
                    granularity: hour
                    time_zone: Asia/Tokyo
                    range:
                      from: "2026-01-01"
                      to: "2026-01-01"
                    summary:
                      friend_registrations: 3
                      push_deliveries: 12
                      reply_deliveries: 2
                      total_deliveries: 14
                    items:
                      - period_start: "2026-01-01"
                        label: "00"
                        friend_registrations: 1
                        push_deliveries: 4
                        reply_deliveries: 1
                        total_deliveries: 5
                      - period_start: "2026-01-01"
                        label: "01"
                        friend_registrations: 0
                        push_deliveries: 0
                        reply_deliveries: 0
                        total_deliveries: 0
        "400":
          description: リクエスト不正
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalid_params:
                  summary: パラメータ不正の例
                  value:
                    error:
                      code: VALIDATION_ERROR
                      message: リクエストパラメータが不正です。
                      details:
                        - field: month
                          issue: 形式不正
                      trace_id: "00000000-0000-0000-0000-000000000000"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
  /friends:
    get:
      tags:
        - Friends
      operationId: listFriends
      summary: 友だち一覧/検索
      description: 友だち一覧を取得し、検索条件で絞り込む。
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: friend_ids
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
          description: 管理I管理ID＝友だちID（line_friends.id）の完全一致。複数指定は同名パラメータの繰り返し。
        - name: exclude_friend_ids
          in: query
          required: false
          schema:
            type: boolean
          description: true の場合、friend_ids を除外条件として扱う
        - name: management_codes
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
          description: 管理コード（incode）の部分一致。複数指定は同名パラメータの繰り返し。※要確認
        - name: exclude_management_codes
          in: query
          required: false
          schema:
            type: boolean
          description: true の場合、management_codes を除外条件として扱う
        - name: advertisement_codes
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
          description: 広告コードの部分一致。複数指定は同名パラメータの繰り返し。
        - name: exclude_advertisement_codes
          in: query
          required: false
          schema:
            type: boolean
          description: true の場合、advertisement_codes を除外条件として扱う
        - name: line_id
          in: query
          required: false
          schema:
            type: string
          description: LINE_IDの部分一致
        - name: created_from
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: 登録日時の開始（JST）（= line_friends.created_at）
        - name: created_to
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: 登録日時の終了（JST）（= line_friends.created_at）
        - $ref: "#/components/parameters/FriendStatusesParam"
        - name: line_official_basic_ids
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
          description: LINE連携 basic_id の完全一致。複数指定は同名パラメータの繰り返し。
        - name: exclude_line_official_basic_ids
          in: query
          required: false
          schema:
            type: boolean
          description: true の場合、line_official_basic_ids を除外条件として扱う
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FriendListResponse"
              examples:
                list:
                  summary: 一覧の例
                  value:
                    items:
                      - id: 545
                        management_code: null
                        advertisement_code: "yokota_x"
                        line_id: "U11ae9eba73ac607c52138ed61bc0183a"
                        created_at: "2026-04-01T10:57:00+09:00"
                        is_blocked: true
                        line_official_account_id: 1
                        line_official_basic_id: "@937jhhcx"
                      - id: 544
                        management_code: null
                        advertisement_code: "yt_konno"
                        line_id: "U9ad374cb7dbadffc50684b61e9d6b310"
                        created_at: "2026-04-01T10:50:00+09:00"
                        is_blocked: false
                        line_official_account_id: 5
                        line_official_basic_id: "@308hyibr"
                    page: 1
                    limit: 100
                    total: 2
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
  /friends/{friend_id}:
    delete:
      tags:
        - Friends
      operationId: deleteFriend
      summary: 友だち削除（物理）
      description: 友だちを物理削除し、関連履歴も削除する。
      parameters:
        - name: friend_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 友だちID（line_friends.id）
      responses:
        "204":
          description: 削除成功
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
  /line-official-accounts:
    get:
      tags:
        - LineOfficialAccounts
      operationId: listLineOfficialAccounts
      summary: LINE連携候補一覧
      description: 友だち検索のため、LINE連携の id / basic_id 一覧を取得する。
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LineOfficialAccountListResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
  /line-accounts:
    get:
      tags:
        - LineAccounts
      operationId: listLineAccounts
      summary: LINE設定一覧/検索
      description: LINE設定を検索し、一覧で返す（検索条件はクエリパラメータ定義を参照。最終調整はバックエンドレビューで実施）。
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: line_account_ids
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
          description: 管理ID＝LINE設定ID（line_official_accounts.id）の完全一致。複数指定は同名パラメータの繰り返し。
        - name: exclude_line_account_ids
          in: query
          required: false
          schema:
            type: boolean
          description: true の場合、line_account_ids を除外条件として扱う
        - name: usage_statuses
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/LineAccountUsageStatus"
          description: 使用状況。複数指定可。
        - name: basic_id
          in: query
          required: false
          schema:
            type: string
          description: ベーシックIDの部分一致
        - name: friend_count_type
          in: query
          required: false
          schema:
            type: string
            enum: [total, non_blocked]
          description: 友だち数の対象（合計/非ブロック）
        - name: friend_count_min
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 友だち数の下限
        - name: friend_count_max
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 友だち数の上限
        - name: line_guidance_statuses
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/LineAccountLineGuidanceStatus"
          description: 別LINE誘導の表示。複数指定可。
        - name: distribution_targets
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/LineAccountDistributionTarget"
          description: 振り分け先。複数指定可。
        - name: delivery_limit_min
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 配信数上限の下限
        - name: delivery_limit_max
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 配信数上限の上限
        - name: current_month_delivery_count_min
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 当月配信数の下限
        - name: current_month_delivery_count_max
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 当月配信数の上限
        - name: delivery_consumption_rate_min
          in: query
          required: false
          schema:
            type: number
            format: float
          description: 配信消化率（%）の下限
        - name: delivery_consumption_rate_max
          in: query
          required: false
          schema:
            type: number
            format: float
          description: 配信消化率（%）の上限
        - name: liveness_statuses
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/LineAccountLivenessStatus"
          description: 配信状態。複数指定可。
        - name: webhook_statuses
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/LineAccountWebhookStatus"
          description: webhookの状態。複数指定可。
        - name: ban_from
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: BAN発生日の開始（JST）
        - name: ban_to
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: BAN発生日の終了（JST）
        - name: system_memo
          in: query
          required: false
          schema:
            type: string
          description: システムメモの部分一致
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LineAccountListResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
    post:
      tags:
        - LineAccounts
      operationId: createLineAccount
      summary: LINE設定作成（手動登録）
      description: LINE設定を新規作成する。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LineAccountCreateRequest"
      responses:
        "201":
          description: 作成成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LineAccountDetail"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
  /line-accounts/{line_account_id}:
    get:
      tags:
        - LineAccounts
      operationId: getLineAccount
      summary: LINE設定詳細
      description: LINE設定の詳細を取得する。
      parameters:
        - name: line_account_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: LINE設定ID
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LineAccountDetail"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
    put:
      tags:
        - LineAccounts
      operationId: updateLineAccount
      summary: LINE設定更新
      description: |
        LINE設定を更新する（全項目）。
        ※ 要確認: update は channel_secret を含むが、GET詳細では channel_secret/access_token はマスク返却想定。
        ※ 要確認: 更新時の送信仕様（実値保持/別API/partial update など）をバックエンドレビューで確定する
      parameters:
        - name: line_account_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: LINE設定ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LineAccountUpdateRequest"
      responses:
        "200":
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LineAccountDetail"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
    delete:
      tags:
        - LineAccounts
      operationId: deleteLineAccount
      summary: LINE設定削除（物理）
      description: LINE設定を物理削除する。
      parameters:
        - name: line_account_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: LINE設定ID
      responses:
        "204":
          description: 削除成功
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
  /line-accounts/{line_account_id}/linkage-check:
    post:
      tags:
        - LineAccounts
      operationId: checkLineAccountLinkage
      summary: LINE連携チェック
      description: LINE設定の連携チェックを実行する。
      parameters:
        - name: line_account_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: LINE設定ID
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LineAccountLinkageCheckResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
  /line-accounts/bulk/usage-status:
    post:
      tags:
        - LineAccounts
      operationId: bulkUpdateUsageStatus
      summary: 使用状況の一括切替
      description: 指定したLINE設定の使用状況を一括で切り替える。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LineAccountBulkUsageStatusRequest"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LineAccountBulkActionResult"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
  /line-accounts/bulk/line-guidance:
    post:
      tags:
        - LineAccounts
      operationId: bulkUpdateLineGuidance
      summary: 別LINE誘導の一括切替
      description: 指定したLINE設定の別LINE誘導を一括で切り替える。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LineAccountBulkLineGuidanceRequest"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LineAccountBulkActionResult"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
  /line-accounts/bulk/distribution-target:
    post:
      tags:
        - LineAccounts
      operationId: bulkUpdateDistributionTarget
      summary: 振り分け先の一括切替
      description: 指定したLINE設定の振り分け先を一括で切り替える。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LineAccountBulkDistributionTargetRequest"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LineAccountBulkActionResult"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
  /line-accounts/bulk/liveness-check:
    post:
      tags:
        - LineAccounts
      operationId: bulkCheckLiveness
      summary: 生存チェック（複数）
      description: 指定したLINE設定の生存チェックを実行する。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LineAccountBulkActionRequest"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LineAccountBulkActionResult"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
  /line-accounts/bulk/webhook-check:
    post:
      tags:
        - LineAccounts
      operationId: bulkCheckWebhook
      summary: webhookチェック（複数）
      description: 指定したLINE設定のwebhookチェックを実行する。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LineAccountBulkActionRequest"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LineAccountBulkActionResult"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
  /line-accounts/bulk/webhook-refresh:
    post:
      tags:
        - LineAccounts
      operationId: bulkRefreshWebhook
      summary: webhook更新（複数）
      description: 指定したLINE設定のwebhook更新を実行する。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LineAccountBulkActionRequest"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LineAccountBulkActionResult"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
  /line-accounts/bulk/access-token-refresh:
    post:
      tags:
        - LineAccounts
      operationId: bulkRefreshAccessToken
      summary: アクセストークン更新（複数）
      description: 指定したLINE設定のアクセストークン更新を実行する。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LineAccountBulkActionRequest"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LineAccountBulkActionResult"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
  /line-accounts/csv-format:
    get:
      tags:
        - LineAccounts
      operationId: getLineAccountsCsvFormat
      summary: CSVフォーマットダウンロード
      description: LINE設定CSVインポート用のフォーマットを取得する。
      responses:
        "200":
          description: 成功
          content:
            text/csv:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
  /line-accounts/csv-import:
    post:
      tags:
        - LineAccounts
      operationId: importLineAccountsCsv
      summary: CSVインポート登録
      description: CSVをアップロードしてLINE設定を一括登録する。
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LineAccountCsvImportResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
  /line-accounts/csv:
    get:
      tags:
        - LineAccounts
      operationId: exportLineAccountsCsv
      summary: CSVダウンロード
      description: LINE設定一覧をCSVでダウンロードする。
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: line_account_ids
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
          description: LINE設定ID（line_official_accounts.id）の完全一致。複数指定は同名パラメータの繰り返し。
        - name: exclude_line_account_ids
          in: query
          required: false
          schema:
            type: boolean
          description: true の場合、line_account_ids を除外条件として扱う
        - name: usage_statuses
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/LineAccountUsageStatus"
          description: 使用状況。複数指定可。
        - name: basic_id
          in: query
          required: false
          schema:
            type: string
          description: ベーシックIDの部分一致
        - name: friend_count_type
          in: query
          required: false
          schema:
            type: string
            enum: [total, non_blocked]
          description: 友だち数の対象（合計/非ブロック）
        - name: friend_count_min
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 友だち数の下限
        - name: friend_count_max
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 友だち数の上限
        - name: line_guidance_statuses
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/LineAccountLineGuidanceStatus"
          description: 別LINE誘導の表示。複数指定可。
        - name: distribution_targets
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/LineAccountDistributionTarget"
          description: 振り分け先。複数指定可。
        - name: delivery_limit_min
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 配信数上限の下限
        - name: delivery_limit_max
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 配信数上限の上限
        - name: current_month_delivery_count_min
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 当月配信数の下限
        - name: current_month_delivery_count_max
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 当月配信数の上限
        - name: delivery_consumption_rate_min
          in: query
          required: false
          schema:
            type: number
            format: float
          description: 配信消化率（%）の下限
        - name: delivery_consumption_rate_max
          in: query
          required: false
          schema:
            type: number
            format: float
          description: 配信消化率（%）の上限
        - name: liveness_statuses
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/LineAccountLivenessStatus"
          description: 配信状態。複数指定可。
        - name: webhook_statuses
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/LineAccountWebhookStatus"
          description: webhookの状態。複数指定可。
        - name: ban_from
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: BAN発生日の開始（JST）
        - name: ban_to
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: BAN発生日の終了（JST）
        - name: system_memo
          in: query
          required: false
          schema:
            type: string
          description: システムメモの部分一致
      responses:
        "200":
          description: 成功
          content:
            text/csv:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
  /greeting-message:
    get:
      tags:
        - Messages
      operationId: getGreetingMessage
      summary: 挨拶メッセージ取得
      description: 挨拶メッセージ（固定1種類）を取得する。
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GreetingMessage"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
    put:
      tags:
        - Messages
      operationId: updateGreetingMessage
      summary: 挨拶メッセージ更新
      description: 挨拶メッセージ（固定1種類）を更新する。テンプレートはボタン型のみ。
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/GreetingMessageUpdateRequest"
      responses:
        "200":
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GreetingMessage"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
  /rich-menu:
    get:
      tags:
        - Messages
      operationId: getRichMenu
      summary: リッチメニュー取得
      description: リッチメニュー（固定1種類）を取得する。
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RichMenu"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
    put:
      tags:
        - Messages
      operationId: updateRichMenu
      summary: リッチメニュー更新
      description: リッチメニュー（固定1種類）を更新する。
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/RichMenuUpdateRequest"
            encoding:
              actions:
                contentType: application/json
      responses:
        "200":
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RichMenu"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
  /auto-response-message:
    get:
      tags:
        - Messages
      operationId: getAutoResponseMessage
      summary: 自動応答メッセージ取得
      description: 自動応答メッセージ（固定1種類）を取得する。
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutoResponseMessage"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
    put:
      tags:
        - Messages
      operationId: updateAutoResponseMessage
      summary: 自動応答メッセージ更新
      description: 自動応答メッセージ（固定1種類）を更新する。テンプレートはボタン型のみ、画像は使用しない。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AutoResponseMessageUpdateRequest"
      responses:
        "200":
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutoResponseMessage"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
  /delivery-history:
    get:
      tags:
        - DeliveryHistory
      operationId: listDeliveryHistory
      summary: 配信履歴一覧/検索
      description: 配信履歴を一覧で返す。
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: delivery_types
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/DeliveryType"
          description: 配信種別。複数指定可。
        - name: delivery_statuses
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/DeliveryStatus"
          description: 配信状態。複数指定可。
        - name: accepted_from
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: 受付日時の開始（JST）
        - name: accepted_to
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: 受付日時の終了（JST）
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeliveryHistoryListResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
  /delivery-history/{delivery_history_id}:
    get:
      tags:
        - DeliveryHistory
      operationId: getDeliveryHistory
      summary: 配信履歴詳細
      description: 配信履歴の詳細を取得する。
      parameters:
        - name: delivery_history_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 配信履歴ID
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeliveryHistoryDetail"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
  /advertisement-codes:
    get:
      tags:
        - AdvertisementCodes
      operationId: listAdvertisementCodes
      summary: 広告コード一覧/検索
      description: 広告コードを検索し、一覧で返す。
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: advertisement_code_ids
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
          description: 広告コードID（advertisement_codes.id）の完全一致。複数指定は同名パラメータの繰り返し。
        - name: exclude_advertisement_code_ids
          in: query
          required: false
          schema:
            type: boolean
          description: true の場合、advertisement_code_ids を除外条件として扱う
        - name: advertisement_codes
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
          description: 広告コードの部分一致。複数指定は同名パラメータの繰り返し。
        - name: exclude_advertisement_codes
          in: query
          required: false
          schema:
            type: boolean
          description: true の場合、advertisement_codes を除外条件として扱う
        - name: name
          in: query
          required: false
          schema:
            type: string
          description: 広告名の部分一致
        - name: postback_settings
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/PostbackSetting"
          description: ポストバック設定。複数指定可。
        - name: memo
          in: query
          required: false
          schema:
            type: string
          description: メモの部分一致
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdvertisementCodeListResponse"
              examples:
                list:
                  summary: 一覧の例
                  description: 一覧では custom_settings は返却しない（編集画面は詳細取得APIを使用）
                  value:
                    items:
                      - id: 545
                        advertisement_code: "18ag1"
                        conversion_code: "LCO1234567"
                        name: "ああああ"
                        postback_setting: custom
                        friend_add_url: "https://li-connector2.com/ad/?afl=18ag1"
                        memo: null
                      - id: 546
                        advertisement_code: "62ch10"
                        conversion_code: "LCO1234568"
                        name: "うぅぅぅ"
                        postback_setting: meta
                        friend_add_url: "https://li-connector2.com/ad/?afl=62ch10"
                        memo: null
                    page: 1
                    limit: 100
                    total: 2
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
    post:
      tags:
        - AdvertisementCodes
      operationId: createAdvertisementCode
      summary: 広告コード作成
      description: 広告コードを新規作成し、conversion_code を自動生成する。advertisement_code が既に存在する場合は 409（要確認）。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdvertisementCodeCreateRequest"
      responses:
        "201":
          description: 作成成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdvertisementCodeItem"
              examples:
                created:
                  summary: 作成成功の例
                  description: postback_setting=custom の場合の例。custom_settings 必須（要確認）
                  value:
                    id: 545
                    advertisement_code: "18ag1"
                    conversion_code: "LCO1234567"
                    name: "ああああ"
                    postback_setting: custom
                    friend_add_url: "https://li-connector2.com/ad/?afl=18ag1"
                    memo: null
                    custom_settings:
                      postback_url: "https://example.com/postback"
                      param_1_name: "param_1"
                      param_2_name: "param_2"
                      friend_id_param_name: "line_friend_id"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
  /advertisement-codes/{advertisement_code_id}:
    get:
      tags:
        - AdvertisementCodes
      operationId: getAdvertisementCode
      summary: 広告コード詳細
      description: 広告コードを1件取得する（編集画面向け）。
      parameters:
        - name: advertisement_code_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 広告コードID
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdvertisementCodeItem"
              examples:
                detail:
                  summary: 詳細の例
                  value:
                    id: 545
                    advertisement_code: "18ag1"
                    conversion_code: "LCO1234567"
                    name: "ああああ"
                    postback_setting: custom
                    friend_add_url: "https://li-connector2.com/ad/?afl=18ag1"
                    memo: null
                    custom_settings:
                      postback_url: "https://example.com/postback"
                      param_1_name: "param_1"
                      param_2_name: "param_2"
                      friend_id_param_name: "line_friend_id"
                detail_non_custom:
                  summary: 詳細の例（non-custom）
                  description: postback_setting=meta の場合の例。custom_settings は null もしくは未返却（要確認）
                  value:
                    id: 546
                    advertisement_code: "62ch10"
                    conversion_code: "LCO1234568"
                    name: "うぅぅぅ"
                    postback_setting: meta
                    friend_add_url: "https://li-connector2.com/ad/?afl=62ch10"
                    memo: null
                    custom_settings: null
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
    put:
      tags:
        - AdvertisementCodes
      operationId: updateAdvertisementCode
      summary: 広告コード更新
      description: 広告コードを更新する（全項目）。advertisement_code の変更先が既に存在する場合は 409（要確認）。
      parameters:
        - name: advertisement_code_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 広告コードID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdvertisementCodeUpdateRequest"
      responses:
        "200":
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdvertisementCodeItem"
              examples:
                updated:
                  summary: 更新成功の例
                  description: postback_setting=custom の場合の例。custom_settings 必須（要確認）
                  value:
                    id: 545
                    advertisement_code: "18ag1"
                    conversion_code: "LCO1234567"
                    name: "広告名更新"
                    postback_setting: custom
                    friend_add_url: "https://li-connector2.com/ad/?afl=18ag1"
                    memo: "メモ更新"
                    custom_settings:
                      postback_url: "https://example.com/postback"
                      param_1_name: "param_1"
                      param_2_name: "param_2"
                      param_3_name: "param_3"
                      friend_id_param_name: "line_friend_id"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
    delete:
      tags:
        - AdvertisementCodes
      operationId: deleteAdvertisementCode
      summary: 広告コード削除（物理）
      description: 広告コードを物理削除する。
      parameters:
        - name: advertisement_code_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 広告コードID
      responses:
        "204":
          description: 削除成功
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []

  /postback-history:
    get:
      tags:
        - PostbackHistory
      operationId: listPostbackHistory
      summary: ポストバック履歴一覧/検索
      description: ポストバック実行履歴を検索し、一覧で返す。
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: advertisement_code
          in: query
          required: false
          schema:
            type: string
          description: 広告コードの部分一致（単一）
        - name: conversion_code
          in: query
          required: false
          schema:
            type: string
          description: コンバージョンコードの部分一致（単一）
        - name: line_friend_id
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 友だち管理IDの完全一致（単一）
        - name: execution_url
          in: query
          required: false
          schema:
            type: string
          description: 実行URLの部分一致
        - name: executed_from
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: 実行日時の開始（JST）
        - name: executed_to
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: 実行日時の終了（JST）
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostbackHistoryListResponse"
              examples:
                list:
                  summary: 一覧の例
                  value:
                    items:
                      - executed_at: "2026-04-01T10:57:00+09:00"
                        advertisement_code: "18ag1"
                        conversion_code: "LCO1234567"
                        line_friend_id: 545
                        postback_setting: google
                        execution_url: "https://ads.example.com/track?af=18ag1&line_friend_id=545"
                    page: 1
                    limit: 100
                    total: 1
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []

  /admins:
    get:
      tags:
        - Admins
      operationId: listAdmins
      summary: 管理者一覧
      description: 管理者を一覧で返す。一般管理者はシステム管理者を含めない。
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminListResponse"
              examples:
                list:
                  summary: 一覧の例
                  value:
                    items:
                      - id: 1
                        is_active: true
                        name: "テスト専用"
                        login_id: "test"
                        role: admin
                        memo: null
                    page: 1
                    limit: 100
                    total: 1
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
    post:
      tags:
        - Admins
      operationId: createAdmin
      summary: 管理者作成
      description: 管理者を作成する。cognito_sub はサーバー側で設定する。login_id が既に存在する場合は 409（要確認）。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminCreateRequest"
      responses:
        "201":
          description: 作成成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminItem"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
  /admins/{admin_id}:
    put:
      tags:
        - Admins
      operationId: updateAdmin
      summary: 管理者更新
      description: 管理者を更新する（全項目）。login_id の変更先が既に存在する場合は 409（要確認）。
      parameters:
        - name: admin_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 管理者ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminUpdateRequest"
      responses:
        "200":
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminItem"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
    delete:
      tags:
        - Admins
      operationId: deleteAdmin
      summary: 管理者削除（物理）
      description: 管理者を物理削除する（要確認）。
      parameters:
        - name: admin_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 管理者ID
      responses:
        "204":
          description: 削除成功
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []

  /system-settings:
    get:
      tags:
        - SystemSettings
      operationId: getSystemSettings
      summary: システム設定取得
      description: システム設定を取得する（単一レコード想定、要確認）。
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemSettings"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []
    put:
      tags:
        - SystemSettings
      operationId: updateSystemSettings
      summary: システム設定更新
      description: |
        システム設定を更新する。
        ※ 要確認: キー類（line_access_key/cms_webhook_key/cms_api_key）は未指定/空の場合は更新しない想定。
        ※ 要確認: 未指定/空文字/null の扱い（nullでクリア可否、空文字許容可否）をバックエンドレビューで確定する
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SystemSettingsUpdateRequest"
      responses:
        "200":
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemSettings"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        Bearer Token 認証。
        bearerFormat=JWT は暫定（要確認）。
      bearerFormat: JWT

  responses:
    # 共通エラーレスポンス（仮）- バックエンドと要確認
    UnauthorizedError:
      description: 認証エラー
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            unauthorized:
              summary: 認証エラーの例（仮）
              value:
                error:
                  code: UNAUTHORIZED
                  message: 認証が必要です。
                  trace_id: "00000000-0000-0000-0000-000000000000"
    ForbiddenError:
      description: 権限エラー
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            forbidden:
              summary: 権限エラーの例（仮）
              value:
                error:
                  code: FORBIDDEN
                  message: この操作を実行する権限がありません。
                  trace_id: "00000000-0000-0000-0000-000000000000"
    NotFoundError:
      description: 対象なし
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            not_found:
              summary: 対象なしの例（仮）
              value:
                error:
                  code: NOT_FOUND
                  message: 対象のリソースが見つかりません。
                  trace_id: "00000000-0000-0000-0000-000000000000"
    InternalServerError:
      description: サーバーエラー
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            internal_error:
              summary: サーバーエラーの例（仮）
              value:
                error:
                  code: INTERNAL_ERROR
                  message: サーバー内部でエラーが発生しました。
                  trace_id: "00000000-0000-0000-0000-000000000000"
    ValidationError:
      description: リクエスト不正
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            validation_error:
              summary: バリデーションエラーの例（仮）
              value:
                error:
                  code: VALIDATION_ERROR
                  message: リクエストパラメータが不正です。
                  details:
                    - field: example_field
                      issue: 形式不正
                  trace_id: "00000000-0000-0000-0000-000000000000"
    ConflictError:
      description: |
        リソース競合（409）。
        ※ 要確認: どの操作で返すか（重複/整合性/楽観ロック等）をバックエンドレビューで確定する
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            conflict:
              summary: リソース競合の例（仮）
              value:
                error:
                  code: CONFLICT
                  message: リソースが既に存在します。
                  details:
                    - field: advertisement_code
                      issue: duplicate
                  trace_id: "00000000-0000-0000-0000-000000000000"

  parameters:
    PageParam:
      name: page
      in: query
      required: false
      schema:
        type: integer
        format: int32
        default: 1
        minimum: 1
      description: ページ番号
    LimitParam:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        format: int32
        default: 100
        minimum: 1
        maximum: 100
      description: 1ページあたりの件数（最大100）
    FriendStatusesParam:
      name: friend_statuses
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: array
        items:
          $ref: "#/components/schemas/FriendStatus"
      description: ブロック状態（line_friends.is_blocked / true=blocked / false=normal）。複数指定可。

  schemas:
    Pagination:
      type: object
      required: [page, limit, total]
      properties:
        page:
          type: integer
          format: int32
          example: 1
        limit:
          type: integer
          format: int32
          example: 100
        total:
          type: integer
          format: int64
          example: 1

    FriendStatus:
      type: boolean
      description: ブロック状態（line_friends.is_blocked / true=blocked / false=normal）

    AdminRole:
      type: string
      enum: [admin, normal]
      description: 権限（admin=システム管理者, normal=一般管理者）
    UsageStatsResponse:
      type: object
      required:
        - granularity
        - time_zone
        - range
        - summary
        - items
      properties:
        granularity:
          type: string
          enum: [month, day, hour]
        time_zone:
          type: string
          example: Asia/Tokyo
          description: 固定値（Asia/Tokyo）（仮、要確認: enum化可否）
        range:
          type: object
          required: [from, to]
          properties:
            from:
              type: string
              format: date
            to:
              type: string
              format: date
        summary:
          $ref: "#/components/schemas/UsageStatsSummary"
        items:
          type: array
          items:
            $ref: "#/components/schemas/UsageStatsItem"

    UsageStatsSummary:
      type: object
      required:
        - friend_registrations
        - push_deliveries
        - reply_deliveries
        - total_deliveries
      properties:
        friend_registrations:
          type: integer
          format: int64
          example: 120
        push_deliveries:
          type: integer
          format: int64
          example: 300
        reply_deliveries:
          type: integer
          format: int64
          example: 50
        total_deliveries:
          type: integer
          format: int64
          example: 350

    UsageStatsItem:
      type: object
      required:
        - period_start
        - label
        - friend_registrations
        - push_deliveries
        - reply_deliveries
        - total_deliveries
      properties:
        period_start:
          type: string
          format: date
          example: "2026-01-01"
          description: 集計対象期間の開始日（JST）（仮）
        label:
          type: string
          example: "2026-01"
          description: 表示用ラベル（month=YYYY-MM / day=YYYY-MM-DD / hour=HH）（仮）
        friend_registrations:
          type: integer
          format: int64
          example: 10
        push_deliveries:
          type: integer
          format: int64
          example: 25
        reply_deliveries:
          type: integer
          format: int64
          example: 5
        total_deliveries:
          type: integer
          format: int64
          example: 30

    FriendListResponse:
      allOf:
        - $ref: "#/components/schemas/Pagination"
        - type: object
          required: [items]
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/FriendListItem"

    FriendListItem:
      type: object
      required:
        - id
        - line_id
        - created_at
        - is_blocked
        - line_official_account_id
      properties:
        id:
          type: integer
          format: int64
          example: 545
        management_code:
          type: string
          nullable: true
          description: 管理コード（incode）※要確認
          example: null
        advertisement_code:
          type: string
          nullable: true
          example: yokota_x
        line_id:
          type: string
          example: U11ae9eba73ac607c52138ed61bc0183a
        created_at:
          type: string
          format: date-time
          description: 登録日時（= line_friends.created_at）
          example: "2026-04-01T10:57:00+09:00"
        is_blocked:
          type: boolean
          example: true
        line_official_account_id:
          type: integer
          format: int64
          example: 1
        line_official_basic_id:
          type: string
          nullable: true
          example: "@937jhhcx"

    AdminListResponse:
      allOf:
        - $ref: "#/components/schemas/Pagination"
        - type: object
          required: [items]
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/AdminItem"

    AdminItem:
      type: object
      required:
        - id
        - is_active
        - name
        - login_id
        - role
      properties:
        id:
          type: integer
          format: int64
          example: 1
        is_active:
          type: boolean
          example: true
        name:
          type: string
          example: "テスト専用"
        login_id:
          type: string
          example: "test"
        role:
          $ref: "#/components/schemas/AdminRole"
        memo:
          type: string
          nullable: true
          example: null

    AdminCreateRequest:
      type: object
      required:
        - is_active
        - name
        - login_id
        - role
      properties:
        is_active:
          type: boolean
          example: true
        name:
          type: string
          example: "テスト専用"
        login_id:
          type: string
          example: "test"
        role:
          $ref: "#/components/schemas/AdminRole"
        memo:
          type: string
          nullable: true
          example: null

    AdminUpdateRequest:
      allOf:
        - $ref: "#/components/schemas/AdminCreateRequest"

    LineOfficialAccountListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/LineOfficialAccountItem"

    LineOfficialAccountItem:
      type: object
      required: [id, basic_id]
      properties:
        id:
          type: integer
          format: int64
          example: 1
        basic_id:
          type: string
          example: "@937jhhcx"

    LineAccountUsageStatus:
      type: string
      enum: [active, inactive]
      description: 使用状況。BAN検知時は自動でinactiveへ遷移し、inactiveは自動フェイルチェック対象外。

    LineAccountLineGuidanceStatus:
      type: string
      enum: [on, off]
      description: 別LINE誘導の表示

    LineAccountDistributionTarget:
      type: string
      enum: [target, no-target]
      description: 振り分け先

    LineAccountLivenessStatus:
      type: string
      enum: [ok, ng, error]
      description: 配信状態

    LineAccountWebhookStatus:
      type: string
      enum: [ok, ng, error]
      description: webhookの状態

    LineAccountListResponse:
      allOf:
        - $ref: "#/components/schemas/Pagination"
        - type: object
          required: [items]
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/LineAccountListItem"

    LineAccountListItem:
      type: object
      required:
        - id
        - usage_status
        - basic_id
        - friend_count_total
        - friend_count_non_blocked
        - line_guidance_status
        - distribution_target
        - delivery_limit
        - current_month_delivery_count
        - delivery_consumption_rate
        - liveness_status
        - webhook_status
      properties:
        id:
          type: integer
          format: int64
          example: 45
        usage_status:
          $ref: "#/components/schemas/LineAccountUsageStatus"
        basic_id:
          type: string
          example: "@213huezt"
        friend_count_total:
          type: integer
          format: int64
          example: 125
        friend_count_non_blocked:
          type: integer
          format: int64
          example: 54
        line_guidance_status:
          $ref: "#/components/schemas/LineAccountLineGuidanceStatus"
        distribution_target:
          $ref: "#/components/schemas/LineAccountDistributionTarget"
        delivery_limit:
          type: integer
          format: int64
          example: 500
        current_month_delivery_count:
          type: integer
          format: int64
          example: 25
        delivery_consumption_rate:
          type: number
          format: float
          example: 5.0
        liveness_status:
          $ref: "#/components/schemas/LineAccountLivenessStatus"
        webhook_status:
          $ref: "#/components/schemas/LineAccountWebhookStatus"
        ban_at:
          type: string
          format: date-time
          nullable: true
          example: null
        system_memo_masked:
          type: string
          nullable: true
          example: "******"

    LineAccountDetail:
      type: object
      required:
        - id
        - usage_status
        - basic_id
        - channel_id
        - channel_secret
        - line_guidance_status
        - distribution_target
      properties:
        id:
          type: integer
          format: int64
          example: 224
        usage_status:
          $ref: "#/components/schemas/LineAccountUsageStatus"
        basic_id:
          type: string
          example: "@213huezt"
        channel_id:
          type: string
          maxLength: 200
          example: "2007592653"
        channel_secret:
          type: string
          maxLength: 200
          description: マスクのみ返す想定（要確認）
          example: "****cde8"
        line_guidance_status:
          $ref: "#/components/schemas/LineAccountLineGuidanceStatus"
        distribution_target:
          $ref: "#/components/schemas/LineAccountDistributionTarget"
        system_memo:
          type: string
          maxLength: 1000
          nullable: true
          example: null
        access_token_expires_at:
          type: string
          format: date-time
          nullable: true
          example: "2026-09-18T02:00:02+09:00"
        access_token:
          type: string
          nullable: true
          description: マスクのみ返す想定（要確認）
          example: "****"
        redirect_url:
          type: string
          format: uri
          nullable: true
          example: "https://line.me/R/ti/p/%40l23huezt"
        webhook_url:
          type: string
          format: uri
          nullable: true
          example: "https://muteking.com/api/linebot/"

    LineAccountCreateRequest:
      type: object
      required:
        - usage_status
        - basic_id
        - channel_id
        - channel_secret
        - line_guidance_status
        - distribution_target
      properties:
        usage_status:
          $ref: "#/components/schemas/LineAccountUsageStatus"
        basic_id:
          type: string
          maxLength: 20
          example: "@213huezt"
        channel_id:
          type: string
          maxLength: 200
          example: "2007592653"
        channel_secret:
          type: string
          maxLength: 200
          example: "ffff86b35fb8144ef1cebbeaa242cde8"
        line_guidance_status:
          $ref: "#/components/schemas/LineAccountLineGuidanceStatus"
        distribution_target:
          $ref: "#/components/schemas/LineAccountDistributionTarget"
        system_memo:
          type: string
          maxLength: 1000
          nullable: true
          example: null

    LineAccountUpdateRequest:
      allOf:
        - $ref: "#/components/schemas/LineAccountCreateRequest"
      description: |
        ※ 要確認: 現状は LineAccountCreateRequest と同型（全項目更新）。
        ※ 要確認: GET詳細は channel_secret/access_token をマスク返却想定のため、更新時の送信仕様（実値保持/別API/partial update など）を確定する

    LineAccountBulkActionRequest:
      type: object
      required: [line_account_ids]
      properties:
        line_account_ids:
          type: array
          minItems: 1
          items:
            type: integer
            format: int64
          description: LINE設定IDの配列

    LineAccountBulkUsageStatusRequest:
      allOf:
        - $ref: "#/components/schemas/LineAccountBulkActionRequest"
        - type: object
          required: [usage_status]
          properties:
            usage_status:
              $ref: "#/components/schemas/LineAccountUsageStatus"

    LineAccountBulkLineGuidanceRequest:
      allOf:
        - $ref: "#/components/schemas/LineAccountBulkActionRequest"
        - type: object
          required: [line_guidance_status]
          properties:
            line_guidance_status:
              $ref: "#/components/schemas/LineAccountLineGuidanceStatus"

    LineAccountBulkDistributionTargetRequest:
      allOf:
        - $ref: "#/components/schemas/LineAccountBulkActionRequest"
        - type: object
          required: [distribution_target]
          properties:
            distribution_target:
              $ref: "#/components/schemas/LineAccountDistributionTarget"

    LineAccountBulkActionItemStatus:
      type: string
      enum: [success, failed]

    LineAccountBulkActionItem:
      type: object
      required: [id, status]
      properties:
        id:
          type: integer
          format: int64
          example: 35
        status:
          $ref: "#/components/schemas/LineAccountBulkActionItemStatus"
        message:
          type: string
          nullable: true
          example: null

    LineAccountBulkActionResult:
      type: object
      required: [summary, items]
      properties:
        summary:
          type: object
          required: [requested, succeeded, failed]
          properties:
            requested:
              type: integer
              format: int32
              example: 3
            succeeded:
              type: integer
              format: int32
              example: 2
            failed:
              type: integer
              format: int32
              example: 1
        items:
          type: array
          items:
            $ref: "#/components/schemas/LineAccountBulkActionItem"

    LineAccountLinkageCheckResponse:
      type: object
      required: [id, status]
      properties:
        id:
          type: integer
          format: int64
          example: 224
        status:
          $ref: "#/components/schemas/LineAccountBulkActionItemStatus"
        message:
          type: string
          nullable: true
          example: null

    LineAccountCsvImportError:
      type: object
      required: [row_number, message]
      properties:
        row_number:
          type: integer
          format: int32
          example: 5
        message:
          type: string
          example: "B列: ベーシックIDの形式が不正"

    LineAccountCsvImportResponse:
      type: object
      required: [imported_count, skipped_count, errors]
      properties:
        imported_count:
          type: integer
          format: int32
          example: 10
        skipped_count:
          type: integer
          format: int32
          example: 2
        errors:
          type: array
          items:
            $ref: "#/components/schemas/LineAccountCsvImportError"

    GreetingMessageSendTiming:
      type: string
      enum: [greet, unblock]
      description: 送信タイミング

    GreetingMessage:
      type: object
      required:
        - send_timing
        - notice_title
        - notice_body
        - notice_button_label
        - notice_link_url
      properties:
        send_timing:
          $ref: "#/components/schemas/GreetingMessageSendTiming"
        icon_image_url:
          type: string
          format: uri
          nullable: true
          example: "https://cdn.example.com/line/icon.png"
        notice_image_url:
          type: string
          format: uri
          nullable: true
          example: "https://cdn.example.com/line/notice.png"
        notice_title:
          type: string
          maxLength: 40
          example: "ようこそ"
        notice_body:
          type: string
          maxLength: 60
          example: "まずはメニューをご確認ください。"
        notice_button_label:
          type: string
          maxLength: 10
          example: "開く"
        notice_link_url:
          type: string
          format: uri
          maxLength: 1000
          example: "https://example.com/welcome"

    GreetingMessageUpdateRequest:
      type: object
      required:
        - send_timing
        - notice_title
        - notice_body
        - notice_button_label
        - notice_link_url
      properties:
        send_timing:
          $ref: "#/components/schemas/GreetingMessageSendTiming"
        icon_image:
          type: string
          format: binary
          nullable: true
          description: アイコン画像（広告コード計測はここで実施）
        notice_image:
          type: string
          format: binary
          nullable: true
          description: 通知用画像
        notice_title:
          type: string
          maxLength: 40
        notice_body:
          type: string
          maxLength: 60
        notice_button_label:
          type: string
          maxLength: 10
        notice_link_url:
          type: string
          format: uri
          maxLength: 1000

    RichMenuStatus:
      type: string
      enum: [enabled, disabled]
      description: 適用ステータス

    RichMenuActionType:
      type: string
      enum: [url, none]
      description: アクション種別

    RichMenuAction:
      type: object
      required: [action_type]
      properties:
        action_type:
          $ref: "#/components/schemas/RichMenuActionType"
        url:
          type: string
          nullable: true
          description: action_type=url のとき必須。action_type=none の場合は null または未指定。
          format: uri
          maxLength: 1000
          example: "https://example.com"

    RichMenu:
      type: object
      required:
        - status
        - menu_bar_text
        - image_url
        - template_id
        - actions
      properties:
        status:
          $ref: "#/components/schemas/RichMenuStatus"
        menu_bar_text:
          type: string
          maxLength: 14
          example: "メニュー"
        image_url:
          type: string
          format: uri
          example: "https://cdn.example.com/line/rich-menu.png"
        template_id:
          type: integer
          format: int32
          minimum: 1
          maximum: 10
          example: 3
        actions:
          type: array
          description: テンプレートは10種類想定（template_id=1-10）（仮）。必要枠数はテンプレートにより異なる（仮）。
          maxItems: 6
          items:
            $ref: "#/components/schemas/RichMenuAction"

    RichMenuUpdateRequest:
      type: object
      required:
        - status
        - menu_bar_text
        - image
        - template_id
        - actions
      properties:
        status:
          $ref: "#/components/schemas/RichMenuStatus"
        menu_bar_text:
          type: string
          maxLength: 14
        image:
          type: string
          format: binary
          description: JPEG/PNG（幅810pxまたは405px、高さ1200px、1MB以内）
        template_id:
          type: integer
          format: int32
          minimum: 1
          maximum: 10
        actions:
          type: array
          description: アクション設定（URL指定/使用しない）。テンプレートは10種類想定（template_id=1-10）（仮）。必要枠数はテンプレートにより異なる（仮）。URLにシステム置換文字は使用しない。
          maxItems: 6
          items:
            $ref: "#/components/schemas/RichMenuAction"

    AutoResponseMessageSendStatus:
      type: string
      enum: [enabled, disabled]
      description: 送信ステータス

    AutoResponseMessage:
      type: object
      required:
        - send_status
        - message_text
        - button_label
        - button_link_url
      properties:
        send_status:
          $ref: "#/components/schemas/AutoResponseMessageSendStatus"
        message_text:
          type: string
          example: "お問い合わせありがとうございます。"
        button_label:
          type: string
          maxLength: 10
          example: "詳細を見る"
        button_link_url:
          type: string
          format: uri
          maxLength: 1000
          example: "https://example.com/help"

    AutoResponseMessageUpdateRequest:
      type: object
      required:
        - send_status
        - message_text
        - button_label
        - button_link_url
      properties:
        send_status:
          $ref: "#/components/schemas/AutoResponseMessageSendStatus"
        message_text:
          type: string
        button_label:
          type: string
          maxLength: 10
        button_link_url:
          type: string
          format: uri
          maxLength: 1000

    DeliveryType:
      type: string
      enum: [push, greet, reply]
      description: 配信種別（push=プッシュ/ greet=挨拶 / reply=自動応答）

    DeliveryStatus:
      type: string
      enum: [delivering, completed, error]
      description: 配信状態

    DeliveryHistoryListResponse:
      allOf:
        - $ref: "#/components/schemas/Pagination"
        - type: object
          required: [items]
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/DeliveryHistoryItem"

    DeliveryHistoryItem:
      type: object
      required:
        - id
        - delivery_type
        - delivery_status
        - accepted_count
        - executed_count
      properties:
        id:
          type: integer
          format: int64
          example: 4556
        delivery_type:
          $ref: "#/components/schemas/DeliveryType"
        delivery_status:
          $ref: "#/components/schemas/DeliveryStatus"
        accepted_count:
          type: integer
          format: int64
          nullable: true
          example: 600
        executed_count:
          type: integer
          format: int64
          example: 545
        accepted_at:
          type: string
          format: date-time
          nullable: true
          example: "2026-08-19T13:22:00+09:00"
        delivery_executed_at:
          type: string
          format: date-time
          nullable: true
          example: "2026-08-19T13:22:00+09:00"
        execution_completed_at:
          type: string
          format: date-time
          nullable: true
          example: "2026-08-19T13:22:00+09:00"

    DeliveryHistoryDetail:
      allOf:
        - $ref: "#/components/schemas/DeliveryHistoryItem"
        - type: object
          required: [json_data]
          properties:
            json_data:
              type: object
              nullable: true

    SystemSettings:
      type: object
      required:
        - id
        - site_name
        - system_domain
        - site_code
        - image_storage_directory
        - internal_image_url
        - external_image_url
        - conversion_api_target_url
      properties:
        id:
          type: integer
          format: int64
          example: 1
        site_name:
          type: string
          example: "利用サイト名"
        system_domain:
          type: string
          example: "example.com"
        site_code:
          type: string
          example: "LCONNESYS-2"
        image_storage_directory:
          type: string
          example: "/var/www/images"
        internal_image_url:
          type: string
          format: uri
          example: "https://example.com/images/"
        external_image_url:
          type: string
          format: uri
          example: "https://cdn.example.com/images/"
        line_access_key_masked:
          type: string
          nullable: true
          example: "****abcd"
        cms_webhook_key_masked:
          type: string
          nullable: true
          example: "****wxyz"
        cms_api_key_masked:
          type: string
          nullable: true
          example: "****1234"
        conversion_api_target_url:
          type: string
          example: "https://example.com/conversion?afn={+afn+}&line_friend_id={+line_friend_id+}"

    SystemSettingsUpdateRequest:
      type: object
      required:
        - site_name
        - system_domain
        - image_storage_directory
        - internal_image_url
        - external_image_url
        - conversion_api_target_url
      properties:
        site_name:
          type: string
        system_domain:
          type: string
        image_storage_directory:
          type: string
        internal_image_url:
          type: string
          format: uri
        external_image_url:
          type: string
          format: uri
        line_access_key:
          type: string
          nullable: true
          description: 未指定/空/null の場合は更新しない想定（要確認: nullでクリア可否、空文字許容可否）
        cms_webhook_key:
          type: string
          nullable: true
          description: 未指定/空/null の場合は更新しない想定（要確認: nullでクリア可否、空文字許容可否）
        cms_api_key:
          type: string
          nullable: true
          description: 未指定/空/null の場合は更新しない想定（要確認: nullでクリア可否、空文字許容可否）
        conversion_api_target_url:
          type: string

    PostbackSetting:
      type: string
      enum: [none, custom, google, meta, tiktok, line]
      description: |
        ポストバック設定
        - custom の場合は custom_settings 必須（要確認）
        - non-custom の場合は custom_settings は null もしくは未送信（要確認）

    AdvertisementCodeCustomSettings:
      type: object
      description: |
        custom時の設定。置換タグ {+afn+}, {+afn2+}, {+line_friend_id+} を利用（要確認）
        - LPROの {+member_id+} は非対応で {+line_friend_id+} を使用（要確認）
        - additionalProperties: true の扱い（未知キー許容/無視/エラー）要確認（暫定は許容。最終はバックエンドレビューで確定）
        - param_1_name〜param_3_name は任意（未指定可）
        - 未指定の場合は未送信（nullではなく省略）想定（要確認）
        - postback_url と friend_id_param_name は必須（要確認）
      required:
        - postback_url
        - friend_id_param_name
      properties:
        postback_url:
          type: string
          format: uri
        param_1_name:
          type: string
          description: 任意のパラメータ名（1）
        param_2_name:
          type: string
          description: 任意のパラメータ名（2）
        param_3_name:
          type: string
          description: 任意のパラメータ名（3）
        friend_id_param_name:
          type: string
          description: 友だち管理IDのパラメータ名
      additionalProperties: true

    AdvertisementCodeCreateRequest:
      oneOf:
        - $ref: "#/components/schemas/AdvertisementCodeCreateRequestCustom"
        - $ref: "#/components/schemas/AdvertisementCodeCreateRequestNonCustom"
      description: |
        広告コード作成リクエスト（custom / non-custom で条件分岐）
        ※ 要確認: oneOf の判別は postback_setting を想定。クライアント生成の都合により discriminator 追加を検討

    AdvertisementCodeBaseRequest:
      type: object
      required:
        - advertisement_code
        - name
        - postback_setting
      properties:
        advertisement_code:
          type: string
          maxLength: 30
          description: 広告コード（半角英数, 30文字まで）
          example: "18ag1"
        name:
          type: string
          maxLength: 30
          description: 広告名（30文字まで）
          example: "ああああ"
        postback_setting:
          $ref: "#/components/schemas/PostbackSetting"
        memo:
          type: string
          maxLength: 1000
          nullable: true

    AdvertisementCodeCreateRequestCustom:
      allOf:
        - $ref: "#/components/schemas/AdvertisementCodeBaseRequest"
        - type: object
          required:
            - custom_settings
          properties:
            postback_setting:
              type: string
              enum: [custom]
            custom_settings:
              allOf:
                - $ref: "#/components/schemas/AdvertisementCodeCustomSettings"
      description: |
        postback_setting=custom の場合は custom_settings が必須（欠落時の 400 可否は要確認）

    AdvertisementCodeCreateRequestNonCustom:
      allOf:
        - $ref: "#/components/schemas/AdvertisementCodeBaseRequest"
        - type: object
          properties:
            postback_setting:
              type: string
              enum: [none, google, meta, tiktok, line]
            custom_settings:
              allOf:
                - $ref: "#/components/schemas/AdvertisementCodeCustomSettings"
              nullable: true
      description: |
        non-custom の場合は custom_settings は null もしくは未送信（要確認）

    AdvertisementCodeUpdateRequest:
      oneOf:
        - $ref: "#/components/schemas/AdvertisementCodeCreateRequestCustom"
        - $ref: "#/components/schemas/AdvertisementCodeCreateRequestNonCustom"
      description: |
        広告コード更新リクエスト（custom / non-custom で条件分岐）
        ※ 要確認: oneOf の判別は postback_setting を想定。クライアント生成の都合により discriminator 追加を検討

    AdvertisementCodeListResponse:
      allOf:
        - $ref: "#/components/schemas/Pagination"
        - type: object
          required: [items]
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/AdvertisementCodeListItem"

    AdvertisementCodeListItem:
      type: object
      required:
        - id
        - advertisement_code
        - conversion_code
        - name
        - postback_setting
      properties:
        id:
          type: integer
          format: int64
          example: 545
        advertisement_code:
          type: string
          maxLength: 30
          example: "18ag1"
        conversion_code:
          type: string
          minLength: 10
          maxLength: 10
          pattern: '^LCO\d{7}$'
          description: LCO + 7桁の10文字コード
          example: "LCO1234567"
        name:
          type: string
          maxLength: 30
          example: "ああああ"
        postback_setting:
          $ref: "#/components/schemas/PostbackSetting"
        friend_add_url:
          type: string
          format: uri
          nullable: true
          example: "https://li-connector2.com/ad/?afl=18ag1"
        memo:
          type: string
          maxLength: 1000
          nullable: true

    AdvertisementCodeItem:
      type: object
      required:
        - id
        - advertisement_code
        - conversion_code
        - name
        - postback_setting
      properties:
        id:
          type: integer
          format: int64
          example: 545
        advertisement_code:
          type: string
          maxLength: 30
          example: "18ag1"
        conversion_code:
          type: string
          minLength: 10
          maxLength: 10
          pattern: '^LCO\d{7}$'
          description: LCO + 7桁の10文字コード
          example: "LCO1234567"
        name:
          type: string
          maxLength: 30
          example: "ああああ"
        postback_setting:
          $ref: "#/components/schemas/PostbackSetting"
        friend_add_url:
          type: string
          format: uri
          nullable: true
          example: "https://li-connector2.com/ad/?afl=18ag1"
        memo:
          type: string
          maxLength: 1000
          nullable: true
        custom_settings:
          allOf:
            - $ref: "#/components/schemas/AdvertisementCodeCustomSettings"
          nullable: true
          description: |
            postback_setting=custom の場合のみ返却（要確認）
            non-custom の場合は null もしくは未返却（要確認）

    PostbackHistoryListResponse:
      allOf:
        - $ref: "#/components/schemas/Pagination"
        - type: object
          required: [items]
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/PostbackHistoryItem"

    PostbackHistoryItem:
      type: object
      required:
        - executed_at
        - advertisement_code
        - conversion_code
        - line_friend_id
        - postback_setting
        - execution_url
      properties:
        executed_at:
          type: string
          format: date-time
          example: "2026-04-01T10:57:00+09:00"
        advertisement_code:
          type: string
          example: "18ag1"
        conversion_code:
          type: string
          example: "LCO1234567"
        line_friend_id:
          type: integer
          format: int64
          example: 545
        postback_setting:
          $ref: "#/components/schemas/PostbackSetting"
        execution_url:
          type: string
          format: uri
          example: "https://ads.example.com/track?af=18ag1&line_friend_id=545"

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          $ref: "#/components/schemas/Error"

    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          example: VALIDATION_ERROR
        message:
          type: string
          example: リクエストパラメータが不正です。
        details:
          type: array
          items:
            $ref: "#/components/schemas/ErrorDetail"
        trace_id:
          type: string
          format: uuid

    ErrorDetail:
      type: object
      required: [field, issue]
      properties:
        field:
          type: string
          example: month
        issue:
          type: string
          example: 形式不正
