openapi: 3.0.3
info:
  title: LINE Connector 2 API
  version: 0.1.0
  description: MVP向けのドラフトOpenAPI。規約は docs/api/conventions.md を参照。
  x-updated: 2026-02-02

servers:
  - url: https://li-connector2.com/api/v1
    description: 本番（仮）

paths:
  /stats/usage:
    get:
      summary: 利用集計（月別/日別/時間別）
      description: 課金算定向けに、新規友だち追加数とLINEメッセージ数（push/reply）を集計して返す。
      parameters:
        - name: granularity
          in: query
          required: true
          schema:
            type: string
            enum: [month, day, hour]
          description: 集計粒度。
        - name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 2000
          description: granularity=month のとき必須。
          example: 2026
        - name: month
          in: query
          required: false
          schema:
            type: string
            pattern: '^\d{4}-\d{2}$'
          description: granularity=day のとき必須（YYYY-MM）。
          example: "2026-01"
        - name: date
          in: query
          required: false
          schema:
            type: string
            format: date
          description: granularity=hour のとき必須（YYYY-MM-DD）。
          example: "2026-01-01"
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageStatsResponse'
              examples:
                month:
                  summary: 月別の例（2026年）
                  value:
                    granularity: month
                    time_zone: Asia/Tokyo
                    range:
                      from: "2026-01-01"
                      to: "2026-12-31"
                    summary:
                      friend_registrations: 120
                      push_deliveries: 300
                      reply_deliveries: 50
                      total_deliveries: 350
                    items:
                      - period_start: "2026-01-01"
                        label: "2026-01"
                        friend_registrations: 10
                        push_deliveries: 25
                        reply_deliveries: 5
                        total_deliveries: 30
                      - period_start: "2026-02-01"
                        label: "2026-02"
                        friend_registrations: 0
                        push_deliveries: 0
                        reply_deliveries: 0
                        total_deliveries: 0
                day:
                  summary: 日別の例（2026年1月）
                  value:
                    granularity: day
                    time_zone: Asia/Tokyo
                    range:
                      from: "2026-01-01"
                      to: "2026-01-31"
                    summary:
                      friend_registrations: 40
                      push_deliveries: 90
                      reply_deliveries: 10
                      total_deliveries: 100
                    items:
                      - period_start: "2026-01-01"
                        label: "2026-01-01"
                        friend_registrations: 2
                        push_deliveries: 5
                        reply_deliveries: 1
                        total_deliveries: 6
                      - period_start: "2026-01-02"
                        label: "2026-01-02"
                        friend_registrations: 0
                        push_deliveries: 0
                        reply_deliveries: 0
                        total_deliveries: 0
                hour:
                  summary: 時間別の例（2026-01-01）
                  value:
                    granularity: hour
                    time_zone: Asia/Tokyo
                    range:
                      from: "2026-01-01"
                      to: "2026-01-01"
                    summary:
                      friend_registrations: 3
                      push_deliveries: 12
                      reply_deliveries: 2
                      total_deliveries: 14
                    items:
                      - period_start: "2026-01-01"
                        label: "00"
                        friend_registrations: 1
                        push_deliveries: 4
                        reply_deliveries: 1
                        total_deliveries: 5
                      - period_start: "2026-01-01"
                        label: "01"
                        friend_registrations: 0
                        push_deliveries: 0
                        reply_deliveries: 0
                        total_deliveries: 0
        '400':
          description: リクエスト不正
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid_params:
                  summary: パラメータ不正の例
                  value:
                    error:
                      code: VALIDATION_ERROR
                      message: リクエストパラメータが不正です。
                      details:
                        - field: month
                          issue: 形式不正
                      trace_id: "00000000-0000-0000-0000-000000000000"
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 権限エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
  /friends:
    get:
      summary: 友だち一覧/検索
      description: 友だち一覧を取得し、検索条件で絞り込む。
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: management_ids
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
          description: 管理IDの完全一致。複数指定は同名パラメータの繰り返し。
        - name: exclude_management_ids
          in: query
          required: false
          schema:
            type: boolean
          description: true の場合、management_ids を除外条件として扱う
        - name: management_codes
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
          description: 管理コード（incode）の部分一致。複数指定は同名パラメータの繰り返し。※要確認
        - name: exclude_management_codes
          in: query
          required: false
          schema:
            type: boolean
          description: true の場合、management_codes を除外条件として扱う
        - name: advertisement_codes
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
          description: 広告コードの部分一致。複数指定は同名パラメータの繰り返し。
        - name: exclude_advertisement_codes
          in: query
          required: false
          schema:
            type: boolean
          description: true の場合、advertisement_codes を除外条件として扱う
        - name: line_id
          in: query
          required: false
          schema:
            type: string
          description: LINE_IDの部分一致
        - name: registered_from
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: 登録日時の開始（JST）
        - name: registered_to
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: 登録日時の終了（JST）
        - $ref: '#/components/parameters/FriendStatusesParam'
        - name: line_official_basic_ids
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
          description: LINE連携 basic_id の完全一致。複数指定は同名パラメータの繰り返し。
        - name: exclude_line_official_basic_ids
          in: query
          required: false
          schema:
            type: boolean
          description: true の場合、line_official_basic_ids を除外条件として扱う
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendListResponse'
              examples:
                list:
                  summary: 一覧の例
                  value:
                    items:
                      - id: 545
                        management_code: null
                        advertisement_code: "yokota_x"
                        line_id: "U11ae9eba73ac607c52138ed61bc0183a"
                        registered_at: "2026-04-01T10:57:00+09:00"
                        is_blocked: true
                        line_official_account_id: 1
                        line_official_basic_id: "@937jhhcx"
                      - id: 544
                        management_code: null
                        advertisement_code: "yt_konno"
                        line_id: "U9ad374cb7dbadffc50684b61e9d6b310"
                        registered_at: "2026-04-01T10:50:00+09:00"
                        is_blocked: false
                        line_official_account_id: 5
                        line_official_basic_id: "@308hyibr"
                    page: 1
                    limit: 100
                    total: 2
        '400':
          description: リクエスト不正
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 権限エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
  /friends/{friend_id}:
    delete:
      summary: 友だち削除（物理）
      description: 友だちを物理削除し、関連履歴も削除する。
      parameters:
        - name: friend_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 友だちID（line_friends.id）
      responses:
        '204':
          description: 削除成功
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 権限エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 対象なし
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
  /line-official-accounts:
    get:
      summary: LINE連携候補一覧
      description: 友だち検索のため、LINE連携の id / basic_id 一覧を取得する。
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineOfficialAccountListResponse'
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 権限エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
  /advertisement-codes:
    get:
      summary: 広告コード一覧/検索
      description: 広告コードを検索し、一覧で返す。
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: management_ids
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
          description: 管理IDの完全一致。複数指定は同名パラメータの繰り返し。
        - name: exclude_management_ids
          in: query
          required: false
          schema:
            type: boolean
          description: true の場合、management_ids を除外条件として扱う
        - name: advertisement_codes
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
          description: 広告コードの部分一致。複数指定は同名パラメータの繰り返し。
        - name: exclude_advertisement_codes
          in: query
          required: false
          schema:
            type: boolean
          description: true の場合、advertisement_codes を除外条件として扱う
        - name: name
          in: query
          required: false
          schema:
            type: string
          description: 広告名の部分一致
        - name: postback_settings
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/PostbackSetting'
          description: ポストバック設定。複数指定可。
        - name: memo
          in: query
          required: false
          schema:
            type: string
          description: メモの部分一致
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertisementCodeListResponse'
              examples:
                list:
                  summary: 一覧の例
                  value:
                    items:
                      - id: 545
                        advertisement_code: "18ag1"
                        conversion_code: "LCO1234567"
                        name: "ああああ"
                        postback_setting: custom
                        friend_add_url: "https://li-connector2.com/ad/?afl=18ag1"
                        memo: null
                        custom_settings:
                          postback_url: "https://example.com/postback"
                          param_1_name: "click_id"
                          param_2_name: "sub_id"
                          param_3_name: null
                          friend_id_param_name: "line_friend_id"
                      - id: 546
                        advertisement_code: "62ch10"
                        conversion_code: "LCO1234568"
                        name: "うぅぅぅ"
                        postback_setting: meta
                        friend_add_url: "https://li-connector2.com/ad/?afl=62ch10"
                        memo: null
                        custom_settings: null
                    page: 1
                    limit: 100
                    total: 2
        '400':
          description: リクエスト不正
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 権限エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
    post:
      summary: 広告コード作成
      description: 広告コードを新規作成し、conversion_code を自動生成する。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvertisementCodeCreateRequest'
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertisementCodeItem'
              examples:
                created:
                  summary: 作成成功の例
                  value:
                    id: 545
                    advertisement_code: "18ag1"
                    conversion_code: "LCO1234567"
                    name: "ああああ"
                    postback_setting: custom
                    friend_add_url: "https://li-connector2.com/ad/?afl=18ag1"
                    memo: null
                    custom_settings:
                      postback_url: "https://example.com/postback"
                      param_1_name: "click_id"
                      param_2_name: "sub_id"
                      param_3_name: null
                      friend_id_param_name: "line_friend_id"
        '400':
          description: リクエスト不正
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 権限エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
  /advertisement-codes/{advertisement_code_id}:
    put:
      summary: 広告コード更新
      description: 広告コードを更新する（全項目）。
      parameters:
        - name: advertisement_code_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 広告コードID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvertisementCodeUpdateRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertisementCodeItem'
              examples:
                updated:
                  summary: 更新成功の例
                  value:
                    id: 545
                    advertisement_code: "18ag1"
                    conversion_code: "LCO1234567"
                    name: "広告名更新"
                    postback_setting: custom
                    friend_add_url: "https://li-connector2.com/ad/?afl=18ag1"
                    memo: "メモ更新"
                    custom_settings:
                      postback_url: "https://example.com/postback"
                      param_1_name: "click_id"
                      param_2_name: "sub_id"
                      param_3_name: "param3"
                      friend_id_param_name: "line_friend_id"
        '400':
          description: リクエスト不正
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 権限エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 対象なし
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
    delete:
      summary: 広告コード削除（物理）
      description: 広告コードを物理削除する。
      parameters:
        - name: advertisement_code_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 広告コードID
      responses:
        '204':
          description: 削除成功
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 権限エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 対象なし
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []

  /postback-history:
    get:
      summary: ポストバック履歴一覧/検索
      description: ポストバック実行履歴を検索し、一覧で返す。
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: advertisement_code
          in: query
          required: false
          schema:
            type: string
          description: 広告コードの部分一致（単一）
        - name: conversion_code
          in: query
          required: false
          schema:
            type: string
          description: コンバージョンコードの部分一致（単一）
        - name: line_friend_id
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 友だち管理IDの完全一致（単一）
        - name: execution_url
          in: query
          required: false
          schema:
            type: string
          description: 実行URLの部分一致
        - name: executed_from
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: 実行日時の開始（JST）
        - name: executed_to
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: 実行日時の終了（JST）
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostbackHistoryListResponse'
              examples:
                list:
                  summary: 一覧の例
                  value:
                    items:
                      - executed_at: "2026-04-01T10:57:00+09:00"
                        advertisement_code: "18ag1"
                        conversion_code: "LCO1234567"
                        line_friend_id: 545
                        postback_setting: google
                        execution_url: "https://ads.example.com/track?af=18ag1&member_id=545"
                    page: 1
                    limit: 100
                    total: 1
        '400':
          description: リクエスト不正
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 権限エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []

  /admins:
    get:
      summary: 管理者一覧
      description: 管理者を一覧で返す。一般管理者はシステム管理者を含めない。
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminListResponse'
              examples:
                list:
                  summary: 一覧の例
                  value:
                    items:
                      - id: 1
                        is_active: true
                        name: "テスト専用"
                        login_id: "test"
                        role: admin
                        memo: null
                    page: 1
                    limit: 100
                    total: 1
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 権限エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
    post:
      summary: 管理者作成
      description: 管理者を作成する。cognito_sub はサーバー側で設定する。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCreateRequest'
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminItem'
        '400':
          description: リクエスト不正
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 権限エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
  /admins/{admin_id}:
    put:
      summary: 管理者更新
      description: 管理者を更新する（全項目）。
      parameters:
        - name: admin_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 管理者ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUpdateRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminItem'
        '400':
          description: リクエスト不正
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 権限エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 対象なし
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
    delete:
      summary: 管理者削除（物理）
      description: 管理者を物理削除する（要確認）。
      parameters:
        - name: admin_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 管理者ID
      responses:
        '204':
          description: 削除成功
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 権限エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 対象なし
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    PageParam:
      name: page
      in: query
      required: false
      schema:
        type: integer
        format: int32
        default: 1
        minimum: 1
      description: ページ番号
    LimitParam:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        format: int32
        default: 100
        minimum: 1
        maximum: 100
      description: 1ページあたりの件数（最大100）
    FriendStatusesParam:
      name: friend_statuses
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: array
        items:
          $ref: '#/components/schemas/FriendStatus'
      description: 友だち状態（正常/ブロック）。複数指定可。

  schemas:
    Pagination:
      type: object
      required: [page, limit, total]
      properties:
        page:
          type: integer
          format: int32
          example: 1
        limit:
          type: integer
          format: int32
          example: 100
        total:
          type: integer
          format: int64
          example: 1

    FriendStatus:
      type: string
      enum: [normal, blocked]
      description: 友だち状態

    AdminRole:
      type: string
      enum: [admin, normal]
      description: 権限（admin=システム管理者, normal=一般管理者）
    UsageStatsResponse:
      type: object
      required:
        - granularity
        - time_zone
        - range
        - summary
        - items
      properties:
        granularity:
          type: string
          enum: [month, day, hour]
        time_zone:
          type: string
          example: Asia/Tokyo
        range:
          type: object
          required: [from, to]
          properties:
            from:
              type: string
              format: date
            to:
              type: string
              format: date
        summary:
          $ref: '#/components/schemas/UsageStatsSummary'
        items:
          type: array
          items:
            $ref: '#/components/schemas/UsageStatsItem'

    UsageStatsSummary:
      type: object
      required:
        - friend_registrations
        - push_deliveries
        - reply_deliveries
        - total_deliveries
      properties:
        friend_registrations:
          type: integer
          format: int64
          example: 120
        push_deliveries:
          type: integer
          format: int64
          example: 300
        reply_deliveries:
          type: integer
          format: int64
          example: 50
        total_deliveries:
          type: integer
          format: int64
          example: 350

    UsageStatsItem:
      type: object
      required:
        - period_start
        - label
        - friend_registrations
        - push_deliveries
        - reply_deliveries
        - total_deliveries
      properties:
        period_start:
          type: string
          format: date
          example: "2026-01-01"
        label:
          type: string
          example: "2026-01"
        friend_registrations:
          type: integer
          format: int64
          example: 10
        push_deliveries:
          type: integer
          format: int64
          example: 25
        reply_deliveries:
          type: integer
          format: int64
          example: 5
        total_deliveries:
          type: integer
          format: int64
          example: 30

    FriendListResponse:
      allOf:
        - $ref: '#/components/schemas/Pagination'
        - type: object
          required: [items]
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/FriendListItem'

    FriendListItem:
      type: object
      required:
        - id
        - line_id
        - registered_at
        - is_blocked
        - line_official_account_id
      properties:
        id:
          type: integer
          format: int64
          example: 545
        management_code:
          type: string
          nullable: true
          description: 管理コード（incode）※要確認
          example: null
        advertisement_code:
          type: string
          nullable: true
          example: yokota_x
        line_id:
          type: string
          example: U11ae9eba73ac607c52138ed61bc0183a
        registered_at:
          type: string
          format: date-time
          example: "2026-04-01T10:57:00+09:00"
        is_blocked:
          type: boolean
          example: true
        line_official_account_id:
          type: integer
          format: int64
          example: 1
        line_official_basic_id:
          type: string
          nullable: true
          example: "@937jhhcx"

    AdminListResponse:
      allOf:
        - $ref: '#/components/schemas/Pagination'
        - type: object
          required: [items]
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/AdminItem'

    AdminItem:
      type: object
      required:
        - id
        - is_active
        - name
        - login_id
        - role
      properties:
        id:
          type: integer
          format: int64
          example: 1
        is_active:
          type: boolean
          example: true
        name:
          type: string
          example: "テスト専用"
        login_id:
          type: string
          example: "test"
        role:
          $ref: '#/components/schemas/AdminRole'
        memo:
          type: string
          nullable: true
          example: null

    AdminCreateRequest:
      type: object
      required:
        - is_active
        - name
        - login_id
        - role
      properties:
        is_active:
          type: boolean
          example: true
        name:
          type: string
          example: "テスト専用"
        login_id:
          type: string
          example: "test"
        role:
          $ref: '#/components/schemas/AdminRole'
        memo:
          type: string
          nullable: true
          example: null

    AdminUpdateRequest:
      allOf:
        - $ref: '#/components/schemas/AdminCreateRequest'

    LineOfficialAccountListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/LineOfficialAccountItem'

    LineOfficialAccountItem:
      type: object
      required: [id, basic_id]
      properties:
        id:
          type: integer
          format: int64
          example: 1
        basic_id:
          type: string
          example: "@937jhhcx"

    PostbackSetting:
      type: string
      enum: [none, custom, google, meta, tiktok, line]
      description: ポストバック設定

    AdvertisementCodeCustomSettings:
      type: object
      description: custom時の設定。置換タグ {+afn+}, {+afn2+}, {+line_friend_id+} を利用（要確認）
      properties:
        postback_url:
          type: string
          format: uri
        param_1_name:
          type: string
        param_2_name:
          type: string
        param_3_name:
          type: string
        friend_id_param_name:
          type: string
      additionalProperties: true

    AdvertisementCodeCreateRequest:
      type: object
      required:
        - advertisement_code
        - name
        - postback_setting
      properties:
        advertisement_code:
          type: string
          maxLength: 30
          description: 広告コード（半角英数, 30文字まで）
          example: "18ag1"
        name:
          type: string
          maxLength: 30
          description: 広告名（30文字まで）
          example: "ああああ"
        postback_setting:
          $ref: '#/components/schemas/PostbackSetting'
        memo:
          type: string
          maxLength: 1000
          nullable: true
        custom_settings:
          allOf:
            - $ref: '#/components/schemas/AdvertisementCodeCustomSettings'
          nullable: true
      description: postback_setting=custom の場合は custom_settings が必須

    AdvertisementCodeUpdateRequest:
      allOf:
        - $ref: '#/components/schemas/AdvertisementCodeCreateRequest'

    AdvertisementCodeListResponse:
      allOf:
        - $ref: '#/components/schemas/Pagination'
        - type: object
          required: [items]
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/AdvertisementCodeItem'

    AdvertisementCodeItem:
      type: object
      required:
        - id
        - advertisement_code
        - conversion_code
        - name
        - postback_setting
      properties:
        id:
          type: integer
          format: int64
          example: 545
        advertisement_code:
          type: string
          maxLength: 30
          example: "18ag1"
        conversion_code:
          type: string
          minLength: 10
          maxLength: 10
          pattern: '^LCO\d{7}$'
          description: LCO + 7桁の10文字コード
          example: "LCO1234567"
        name:
          type: string
          maxLength: 30
          example: "ああああ"
        postback_setting:
          $ref: '#/components/schemas/PostbackSetting'
        friend_add_url:
          type: string
          format: uri
          nullable: true
          example: "https://li-connector2.com/ad/?afl=18ag1"
        memo:
          type: string
          maxLength: 1000
          nullable: true
        custom_settings:
          $ref: '#/components/schemas/AdvertisementCodeCustomSettings'

    PostbackHistoryListResponse:
      allOf:
        - $ref: '#/components/schemas/Pagination'
        - type: object
          required: [items]
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/PostbackHistoryItem'

    PostbackHistoryItem:
      type: object
      required:
        - executed_at
        - advertisement_code
        - conversion_code
        - line_friend_id
        - postback_setting
        - execution_url
      properties:
        executed_at:
          type: string
          format: date-time
          example: "2026-04-01T10:57:00+09:00"
        advertisement_code:
          type: string
          example: "18ag1"
        conversion_code:
          type: string
          example: "LCO1234567"
        line_friend_id:
          type: integer
          format: int64
          example: 545
        postback_setting:
          $ref: '#/components/schemas/PostbackSetting'
        execution_url:
          type: string
          example: "https://ads.example.com/track?af=18ag1&member_id=545"

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          $ref: '#/components/schemas/Error'

    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          example: VALIDATION_ERROR
        message:
          type: string
          example: リクエストパラメータが不正です。
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
        trace_id:
          type: string
          format: uuid

    ErrorDetail:
      type: object
      required: [field, issue]
      properties:
        field:
          type: string
          example: month
        issue:
          type: string
          example: 形式不正
